//Fonts
$default-font-size: 1.6rem;

//Colors
$color-primary: #2c2640;

$color-text-dark: #2b282f;
$color-text-light-1: #96a9c7;
$color-text-light-2: #e7e5e8;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #eee;
$color-grey-light-1: #fafafa;
$color-grey-dark: #777;
$color-grey-dark-1: #52505c;

//grid
$grid-width: 100rem;

$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

